<a href="{{ path('words_show', {slug: word.slug }) }}" class="card">
    <h2 class="card-title">{{ word.name }} || ID:{{ word.id }}</h2>
    {% include('categories/includes/category.html.twig') %}

    <p class="my-4 text-lg"><span class="uppercase font-bold">Définition</span> : {{ word.definition }}</p>

    <div class="flex justify-between">
        <div>
            <p class="card-date">
                {% if word.user is not null %}
                    Ajouté par {{ word.user.email }} le {{ word.createdAt | date('d/m/y') }}
                {% else %}
                    Ajouté par un inconnu le {{ word.createdAt | date('d/m/y') }}
                {% endif %}
            </p>
            <p class="card-date">Dernière mise à jour le {{ word.updatedAt |
                date('d/m/y') }}</p>
        </div>

        {% include('includes/emoji.html.twig') %}
    </div>
</a>