<nav class="fixed w-full top-0 left-0 bg-gray-800 menu-logo">
    <a href="{{ path('home') }}" class="flex items-center justify-center py-4 h-28 ">
        {{ include('includes/logo.html.twig') }}
        <img src="{{ asset('uploads/open-book.png') }}" alt="Logo livre" class="ml-2 mb-2 h-8 w-auto">
    </a>
</nav>

<input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon"/>
<label for="menu-icon"></label>
<nav class="nav">
    <ul class="pt-5">
        <li><a href="{{ path('words') }}">Mots</a></li>
        <li><a href="#">Prénoms</a></li>
        <li><a href="#">Catégories</a></li>
        <li><a href="{{ path('words_new') }}">Ajouter un mot</a></li>
        <li><a href="{{ path('app_login') }}">Connexion</a></li>
    </ul>
</nav>
