{% extends 'base.html.twig' %}

{% block title %}Ajouter un mot | {{ parent() }}{% endblock %}

{% block body %}
    <div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
        <div class="w-full max-w-md space-y-8">
            {{ form_start(form, {'attr':  {'class': 'mt-8 space-y-6'}}) }}

                <div class="text-red-400 space-y-2 text-center">
                    {{ form_errors(form.name) }}
                    {{ form_errors(form.definition) }}
                </div>
                <div>
                    {{ form_widget(form.name) }}
                    {{ form_widget(form.definition) }}
                </div>
                {{ form_widget(form.category) }}

                {{ form_widget(form.submit) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
