<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-gray-800 pt-24">
        {{ include('navigation/navbar.html.twig') }}
        <div class="mx-auto max-w-5xl px-2 sm:px-6 lg:px-8">
            <div class="my-16">
                <h1 class="text-6xl text-white text-center">
                    Poste <span class="uppercase font-bold text-8xl text-green-400">ton</span> mot et <br><span class="uppercase font-bold text-8xl text-pink-500">vote</span> un <span class="uppercase font-bold text-8xl text-yellow-300">max</span> avec les <span class="uppercase font-bold text-8xl text-cyan-400">smileys</span> !
                </h1>
                <div class="flex relative h-32 justify-center">
                    <img src="{{ asset('uploads/amoureux.png') }}" class="h-32 mx-2" alt="Smiley content">
                    <img src="{{ asset('uploads/triste.png') }}" class="h-32 mx-2" alt="Smiley content">
                </div>
            </div class="">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
